.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
  
button{
  padding: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.songtag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;

  .mask{
    font-size: 8em;
  }
}
.spacetime{
  width: 25rem;
}
.barprogress{
  background-color: white;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.progress{
  background-color: black;
  height: 5px;
}
.timer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}