.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
  
button{
  padding: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

.songtag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;

  .mask{
    font-size: 8em;
  }
}
.spacetime{
  width: 25rem;
}
.barprogress{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#progress{
  width: 100%;
}
.timer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}