.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  button{
    padding: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
  }